* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif !important;
}

.header {
  width: 100%;
  height: 80vh;
  background-image: url("../images/hero.jpg");
  background-position: center;
  background-size: cover;
}

.menu {
  background-color: rgba(143, 33, 156, 0.8);
}

.menu .logo-menu {
  width: 50%;
}

.dropdown .main-menu {
  border: 1px solid transparent;
  border-radius: 15%;
}

.dropdown:hover .main-menu {
  border: 1px solid violet;
  border-radius: 15%;
}

.dropdown:hover .sub-menu {
  display: block;
}

.sub-menu {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 75%;
  border: 1px solid violet;
  display: none;
  border-radius: 5px;
  z-index: 100;
  background-color: white;
}

.sub-menu .nav-link {
  color: #756d6d !important;
}

/* product */
.product-item {
  overflow: hidden;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.product-item:hover {
  border-color: violet;
}

.name {
  font-size: 16px;
  display: block;
  text-align: center;
  margin: 10px 0px;
  color: #4c4b4b;
}

.price {
  font-size: 18px;
  display: block;
  text-align: center;
  color: red;
  font-weight: bold;
  margin: 10px 0px;
}
.utility {
  display: flex;
  justify-content: space-between;
}

.image_product {
  width: 100%;
  cursor: pointer;
}

.btn-add {
  padding: 0 20px;
}

.btn-arrow,
.btn-heart {
  width: 45px;
  color: white;
}

.sales-new {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid red;
  border-radius: 5px;
  color: white;
  padding: 2px;
  background-color: red;
}

/* //////////////////////////////// */
/* ///////// HOME PAGE 2 ///////// */

.trai-tren {
  border: 1px solid #eee;
  padding: 10px;
}

.title {
  padding-left: 18px;
}

.product-hp2 .btn-arrow,
.product-hp2 .btn-heart {
  width: 40px;
}

/* /////// END HOME PHAE 2 /////// */
/* /////////////////////////////// */
